<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="header">
    <div class="left">Dashboard</div>
    <div class="right" (click)="signout()">Sign Out</div>
</div>

<br><div class="title center">Overview</div>
<div class="chart center">
    <div padding>
      <div class="card">
          <div class="card-header">Pie Chart</div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div id="piechart" class="piechart"></div>
            </li>
          </ul>
      </div>
    </div>&nbsp;&nbsp;
    <div padding>
      <div class="card">
          <div class="card-header">Pie Chart</div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div id="xychart" class="xychart"></div>
            </li>
          </ul>
      </div>
    </div>    
</div>

<br><div class="title center">User List</div>
<div class="center">
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">User Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of tableusers; let i=index;">
        <td scope="row">{{i+1}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.username}}</td>
      </tr>
    </tbody>
  </table>
</div>
<!--<table mdbTable>
    <tbody>
      <tr mdbTableCol>
        <th scope="row"></th>
        <td>#</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>User Name</td>
      </tr>
      <tr mdbTableCol *ngFor="let user of tableusers; let i=index;">
        <th scope="row"></th>
        <td>{{i+1}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.username}}</td>
      </tr>
    </tbody>
  </table>-->

