
.header{
   display:flex; background-color:black;
   font-size:18px; padding:15px; color:grey;
   .left{ text-align:left; width:100%; padding:5px; } 
   .right{ text-align:right; width:100%; padding:5px; }   
}

.title{
   font-size:25px; padding:10px;   
}

.chart{
   display:flex; width:100%; //div{ width:100%; height:300px; }
}

.center{
   display:flex; justify-content:center; align-items:center; width:100%;
}

table{ width:60%; }