<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<br><br><br><br>
<div class="content">      
   <div class="card" style="width:25rem;">
      <div class="card-header">Sign in to your dashboard</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <br>
          <input class="form-control" aria-describedby="basic-addon3" [(ngModel)]="username"/>
          <br>
          <input class="form-control" aria-describedby="basic-addon3" [(ngModel)]="password"/>
          <br>
          <button type="button" class="btn btn-primary" (click)="submit()">SIGN IN</button>
        </li>
      </ul>
    </div>
</div>

